.header {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.body{
  background-color:#ebeef1;
  height: 93vh;
}

.cardcenter{
  border-radius: 5px;
  background-color: white;
  height: 90vh;
  width: 125vh;
 
}

.cardcenter:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.solicitudIndividual{
  padding: 0.3rem;
  margin-left: 4rem;
  margin-right: 4rem;

}

.centerItems{
   padding-top: 1rem;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


tbody {
  display: block;
  height: 700px;
  overflow: auto;
}

.block{
  height: 90vh;
  width: 125vh;
  padding-top: 20px;
  padding-left: 450px;
  
}

.filtros{
  padding: 0.3rem;
  margin-left: 10rem;
  margin-right: 4rem;
  /* padding-bottom: 1rem; */
  /* padding: 1rem; */
}

.selectSucursal{
  height: 3rem;
}